aiogram~=2.25.2
aiofiles
aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
charset-normalizer
environs
frozenlist
idna
marshmallow
multidict
packaging
pydantic
pydantic_core
python-dotenv
typing_extensions
yarl
asyncpg
pytz
apscheduler
